* {
    margin: 0;
    padding: 0;
}
:root {
    --azul-: #0052f7;
    --amarillo-:#fcdb03; 
    --rojo-: #e00909;
    --fuente-:'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}
body {
    background: url(imgstarwars/star\ wars\ fondo2.jpeg);
    background-size: contain;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,auto);
    font-family: var(--fuente-);
}
header {
    padding: 10px;
    background: black; 
    position: fixed;
    box-shadow: 0 2px 25px #FFFFFF;
}
ul {
    list-style: none;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}
.contenedor > li {
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor > li > a {
    display: block;
    text-transform: uppercase;
}
li a {
    text-transform: capitalize;
    text-decoration: none;
    height: auto;
    width: 300px;
    padding: 0px 15px;
    font-size: 20px;
}
.jedi > a {
    color: black;
    background: var(--azul-);
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.subjedi {
    position: absolute;
    background: var(--azul-);
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    visibility: hidden;
    overflow: hidden;
}
.subjedi li a {
    display: block;
    color:black;
    width: auto;
    border-top:solid 1px;
    padding: 4px;
}
.sith > a {
    background: var(--rojo-);
    color: black;
    border-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.subsith {
    position: absolute;
    background: var(--rojo-);
    width: 80%;
    margin-left: 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    visibility: hidden;
    overflow: hidden;
}
.subsith li a {
    display: block;
    color: black;
    width: auto;
    border-top: solid 1px;
    padding: 4px;
}
.jedi:hover .subjedi {
    visibility: visible;
}
.sith:hover .subsith {
    visibility: visible;
}
.contenedor li a:hover {
    background-color: white;
    transition: 400ms;
}
.clstarwars {
    grid-column: 3/5;
}
.logostarwars {
    filter: invert(86%) sepia(38%) saturate(1171%) hue-rotate(349deg) brightness(100%) contrast(110%);
    width: auto;
}
.logojedi {
    filter: invert(31%) sepia(100%) saturate(6602%) hue-rotate(222deg) brightness(104%) contrast(109%);
}
.logosith {
    filter: invert(11%) sepia(85%) saturate(7323%) hue-rotate(14deg) brightness(93%) contrast(110%);
}
h1 {
    text-align: center;
    text-transform:uppercase;
    color: var(--amarillo-);
}
h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--amarillo-);
}
p {
    font-size:larger;
    line-height: 30px;
    color: var(--amarillo-);
}
main {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}
.contenidojedi {
    padding-top: 180px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    text-align:center;
}
.contenidosith {
    padding-top: 180px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    text-align: center;
}
footer {
    display: grid;
    padding: 10px;
    background: black;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 2px 25px #FFFFFF;
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
} 
footer li a {
    color: var(--amarillo-);
    text-decoration: none;
    font-size: 30px;
    margin: 20px;
} 
footer li a:hover {
    color: white;
}  
img {
    height: 100px;
    width: auto;
}
body::-webkit-scrollbar {
    width: 0px;
    background: black;
}
body::-webkit-scrollbar-thumb {
    background: var(--amarillo-);
    border-radius: 20px;
}
@media screen and (max-width:1200px){
    li a {
        width: 180px;
    }
}
@media screen and (max-width: 880px){
    footer li a {
        font-size: 20px;
        margin: 10px;
    }
    img {
        height: 40px;
        width: 40px;
    }
    li a {
        height: auto;
        width: 100%;
        font-size: 12px;
        padding: 0px;
    }
    main {
        grid-template-columns: none;
    }
    .contenidojedi {
        padding-top: 100px;
    }
    .contenidosith {
        padding-top: 0px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
    .contenidojedi {
        padding-bottom: 40px;
    }
    header {
        width: 100%;
        padding: 0; 
        padding-top: 2px;
    }
    .contenedor {
        display:grid;
        grid-template-rows: 2fr 1fr;
        gap: 0;
    }
    .jedi {
        grid-row: 2/-1;
        grid-column: 1/4;
        width:70%;
    }
    .sith {
        grid-row: 2/-1;
        grid-column: 4/-1;
        width: 70%;
    }
    .cljedi {
        grid-column: 1/3;
    }
    .clsith {
        grid-column: 5/-1;
    }
}
